
.root{

    	-fx-background-color:  #F8F8FF;
    	-fx-font-size:15px;
    	-fx-spacing:15px;

}

#menus .tab{

-fx-pref-width:110;
-fx-pref-height:300;
-fx-background-insets: 0.0;
-fx-background-radius:0.0;
-fx-font-size: 20px;
-fx-background-color: transparent, tab-border-color , tab-color;
       tab-color:#FFD700;
       tab-border-color :#F8F8FF ;
       -fx-background-insets: 0, 0 5 0 0, 1 6 0 0 ;

       -fx-padding: 4 10 4 4 ;

}

.tab-header-background{
 -fx-background-color:#F8F8FF;
 -fx-alignment:center_left;

}
.tab .tab-header-area {
    -fx-padding: 0 0 0 50;
}

#options .tab {

    -fx-pref-width: 200;
    -fx-pref-height:40;
    -fx-font-size:20px;
    -fx-background-color: #F8F8FF;

      -fx-background-color: transparent, tab-border-color , tab-color;
           tab-color:#FFD700;
           tab-border-color : #F8F8FF;
           -fx-background-insets: 0, 0 5 0 0, 1 6 0 0 ;
           -fx-padding: 4 10 4 4 ;
}

#menus .tab-label{
    -fx-rotate: 90;
    -fx-font-weight:bold;
    -fx-font-size:25px;
}
#options .tab-label{
    -fx-rotate:0;
}

.tab-pane .headers-region {
 -fx-alignment:center;
}



.label-farm
{
            -fx-font-weight:bold;
         	-fx-font-size:60px;
         	-fx-text-fill: #FFD700;
}

.label-manager
{
       -fx-font-weight:bold;
      -fx-font-size:60px;
}
.tabPane{
 -fx-pref-width:100
 -fx-pref-height:45
}