
.root{

    	-fx-background-color:  #F8F8FF;
    	-fx-font-size:15px;
    	-fx-spacing:15px;

}
.tab .tab-header-area {
    -fx-padding: 0 0 0 50;

}
.tabPane{
 -fx-pref-width:100
 -fx-pref-height:45
}

/*menus*/

#menus .tab{

-fx-pref-width:110;
-fx-pref-height:200;
-fx-background-insets: 0.0;
-fx-background-radius:0.0;
-fx-font-size: 20px;


       -fx-background-color:  tab-border-color , tab-color;
                  tab-color:#696969;
                  tab-border-color : #808080;
                  -fx-background-insets:  0,0 0 0 1.5, 1 6 0 0 ;
                  -fx-padding: 4 10 4 4 ;

}
#menus .tab-header-area .jfx-rippler
{
    -jfx-rippler-fill: #FFD700;
    -fx-cursor:hand;
}


#menus .tab-header-background{
 -fx-background-color:#696969;
 -fx-alignment:center_left;

}
#menus .tab-selected-line
{
    -fx-background-color:#FFD700;
}
#menus .headers-region {
    -fx-background-color: #696969;
}
#menus .tab-label{
    -fx-rotate: 90;
    -fx-font-weight:bold;
    -fx-font-size:15px;
}
#menus .tab:hover{

-fx-background-color:F0E68C;
}

#menus .tab:selected{

-fx-background-color:FFD700;
}

#options .tab {

    -fx-pref-width: 200;
    -fx-pref-height:40;
    -fx-font-size:20px;
    -fx-background-color: #F8F8FF;

      -fx-background-color:  tab-border-color , tab-color;
           tab-color:#696969;
           tab-border-color : #808080;
           -fx-background-insets:  0,0 1.5 0 0, 1 6 0 0 ;
           -fx-padding: 4 10 4 4 ;
}


#options .tab-label{
    -fx-rotate:0;
}

.tab-pane .headers-region {
 -fx-alignment:center;
}





.label-farm
{
            -fx-font-weight:bold;
         	-fx-font-size:60px;
         	-fx-text-fill: #FFD700;
}

.label-manager
{
       -fx-font-weight:bold;
      -fx-font-size:60px;
}
