.root{
    -fx-background-color:#e3e9ee;

}
.vBox
{
    -fx-background-color: #F8F8FF;
}
.hBoxNormal
{
    -fx-background-color: #F8F8FF;
     -fx-pref-height:43;
    -fx-pref-Width:1231;
    
}
.hBoxTable{
    -fx-background-color: #F8F8FF;
    -fx-pref-height:518;
    -fx-pref-Width:1200;
}
.LabelRation
{
    -fx-text-fill: #2aa15b;
    -fx-font-size:25px;
    -fx-font-weight:bold;
}
.LabelCatalogueTitre
{
    -fx-text-fill: white;
    -fx-font-size:25px;
    -fx-font-weight:bold; 
}
.LabelCatalogue
{
 -fx-text-fill: white;
    -fx-font-size:16px;
    -fx-font-weight:bold;   
}

/*********************
      *tableView
**********************/

.table-view{
    
   -fx-background-color: #F8F8FF;
   -fx-table-cell-border-color: transparent;
   -fx-pref-height: 515;
   -fx-pref-width:1182;
}
.table-view .column-header {
     /*-fx-background-color: transparent;*/
     /*-fx-border-color:transparent white transparent transparent;*/
    /* -fx-border-width:0.5;*/
     -fx-background-color: #2aa15b;
     -fx-pref-height: 50;
} 



.table-view .column-header-background .label{
    -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.table-row-cell{
    /*-fx-background-color: #62c9a5;*/
    -fx-pref-height:50;
    -fx-text-fill:black;
    -fx-font-weight:bold;
    
}
.table-row-cell:hover{
    -fx-background-color: #94ffd9;
    
}
.table-row-cell:selected
{
    -fx-background-color: #94ffd9;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}
.table-column
{     
     -fx-text-alignment: center;
    -fx-alignment: CENTER ;
    -fx-border-width:0.0;
}
/********button********/
.jfx-button{
    -fx-background-color:#2aa15b;
    -fx-border-width:5;
    -fx-text-fill:white;
     -fx-font-weight:bold;

}

/********ComboBox*******/
.combo-box-base{
    -fx-background-color: #e3e9ee;
    -fx-pref-width:252;
    -fx-pref-height: 32;
    
}
.combo-box-base > .arrow-button {
   -fx-background-color: #2aa15b;
   /*-fx-padding: 0.0 4.0;*/
  }
.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-background-insets: 0.0 0.0 0.0 0.0;
    
  /*  -fx-shape: "M 0 0 H 7 L 3.5 4 z";*/
}

.combo-box-popup > .list-view {
    /*-fx-border-style: solid;
    -fx-border-width: 1.0;
    -fx-border-color: black;*/
    -fx-background-color: #F8F8FF;
    /*-fx-background-insets: 0.0, 1.0;*/
}

.combo-box-popup > .list-view:hover {
    /*-fx-border-style: solid;
    -fx-border-width: 1.0;
    -fx-border-color: black;*/
    -fx-background-color: #94ffd9;
    /*-fx-background-insets: 0.0, 1.0;*/
}
/**********
*TreeView
*********************/

.tree-view{
        -fx-font-size:16px;
	-fx-background-color:#F8F8FF;
        -fx-pref-width:1600;
        -fx-padding: 5 5 5 5;
        /*-fx-border-width:15;*/
}
.tree-cell {
    -fx-background-color: #F8F8FF;
    -fx-pref-height:45;
    -fx-text-fill:#434141;
     -fx-font-weight:bold;
     -fx-alignment:CENTER_LEFT;
     -fx-padding: 0 5 0 5;
    /*-fx-pref-width:500;*/
}

.tree-cell .selection-bar {
    -fx-background-color: #2aa15b;
}

.tree-cell:selected {
    /*-fx-background-color: #94ffd9;*/
    -fx-font-weight: bold ;
    -fx-text-fill:#2aa15b; 
    /*-fx-underline: true;*/
}
.tree-cell:expanded,.tree-cell > .sub-tree-item{
    -fx-background-color: #94ffd9; 
    /*-fx-font-weight: bold ;
    -fx-text-fill:#2aa15b;*/
}
.tree-cell > .sub-tree-item:selected{
    -fx-font-weight: bold ;
    -fx-text-fill:#2aa15b;
    /*-fx-font-weight: bold ;
    -fx-text-fill:#2aa15b;*/
}
.tree-disclosure-node {
    -fx-padding: 17 5 0 5;
    -fx-translate-x: 165;
    
}
.tree-cell .tree-disclosure-node .arrow {
   
   -fx-alignment: CENTER;
   -fx-rotate:90;
   -fx-shape:"M 0 0 L 10 5 L 0 10 L 0 8 L 8 5 L 0 2 Z";
}

/*.tree-cell:selected > .tree-disclosure-node >.arrow {
   -fx-background-color: #3e9073;
   /*-fx-rotate:270;
}*/

/*******TEXTFIELD*******/
.jfx-text-field
{
    -fx-pref-width:252;
    -fx-pref-height: 32;
    -jfx-label-float:true;
    -jfx-focus-color:#2aa15b;
}
/******DatePicker*******/
.jfx-date-picker{
    
    -jfx-default-color:white;
}

/******TABPANE*********/
.jfx-tab-pane{
    -fx-padding:0 5 0 5;
}


.jfx-tab-pane .tab-header-background{
    
    -fx-background-color:#f8f8ff ;
    -fx-text-fill:white;
}


.jfx-tab-pane .tab{
    -fx-pref-width:180;
    -fx-background-radius: 25.0 25.0 0.0 0.0;
    
   
    /*-fx-border-color:transparent transparent transparent transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;  
    -fx-cursor:hand;*/ 
}
.jfx-tab-pane .tab:selected{
  -fx-background-color: #94ffd9;
}

.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: #2aa15b;
}
