
.root{

    	-fx-background-color:  #d0dfff;/*#f1e8df*/;
    	-fx-font-size:15px;
        -fx-font-weight:bold;
    	-fx-spacing:15px;
        -fx-text-fill: white;

}

#important
{
    -fx-font-size:25px;
}

/*tabs of tabpane generally*/
.tab .tab-header-area {
    -fx-padding: 0 0 0 50;

}

.tabPane{
 -fx-pref-width:100;
 -fx-pref-height:45
}

.tab-header-area .jfx-rippler
{
    -jfx-rippler-fill: #daad86;
    -fx-cursor:hand;
}


.tab-header-background{
 -fx-background-color:#daad86;
 /*vert #417842*/
 -fx-alignment:center_left;

}
/*.tab-selected-line
{
    -fx-background-color:#00FF7F;
}*/
.headers-region {
    -fx-background-color:#417842;
}


/*menus*/

#menus .tab{

    -fx-pref-width:90;
    -fx-pref-height:250;
    -fx-background-insets: 0.0;
    -fx-background-radius:0.0;
    -fx-font-size: 20px;

    -fx-background-color:  tab-border-color , tab-color;
    tab-color:#daad86;
    tab-border-color : #daad86;/*#808080;*/
    -fx-background-insets:  0,0 0 0 1.5, 1 6 0 0 ;
    -fx-padding: 4 10 4 4 ;

}


#menus .tab .label
{
    -fx-text-fill: white;
}
#menus .tab-label{
    -fx-rotate: 90;
    -fx-font-weight:bold;
    -fx-font-size:15px;
}

#menus .tab:hover{

-fx-background-color:#fbeec1;
}

#menus .tab:selected{

-fx-background-color:#bc986a;
}
/*options of menus*/
#options .tab {

    -fx-pref-width: 150;
    -fx-pref-height:40;
    -fx-font-size:15px;
    -fx-background-color: #daad86;

      /*-fx-background-color:  tab-border-color , tab-color;*/
    /*tab-color:#756a6a;
    tab-border-color : #756a6a;/*#808080;*/
    -fx-background-insets:  0,0 1.5 0 0, 1 6 0 0 ;
    -fx-padding: 4 10 4 4 ;
}


#options .tab-label{
    -fx-rotate:0;
    -fx-graphic: white;
    -fx-font-size:13px;
    /*-fx-text-fill:#FFFAFA;*/
}

/*label*/

.label-farm
{
    -fx-font-weight:bold;
    -fx-font-size:60px
    /*-fx-text-fill: #FFD700;*/
}

.label-manager
{
    -fx-font-weight:bold;
    -fx-font-size:60px;
    /*-fx-text-fill:#fb7060;*/
}

.button
{
    -fx-background-color:#FFD700;/*F0E68C*/
    -fx-font-size:15px;
    /*-fx-text-fill: black;*/
}

.textField
{
    -fx-focus-Color:#FFD700;
    -fx-unfocus-color:#4d4d4d;
    -fx-font-size:16px;

}
#options .tab .label
{
    -fx-text-fill: white;
}

#options {
    -fx-rotate:0;
    -fx-text-fill: white;
    /*-fx-text-fill:#FFFAFA;*/
}
#options .headers-region {
    -fx-background-color:#daad86;
}


/*******************************************************************************
 *           
 * Tables                                      *
 *                                                                             *
 ******************************************************************************/
.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 65;
    -fx-border-style: null;
    /*-fx-border-color: -swatch-grey;*/
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: linear-gradient(#00BFFF,#00CED1);
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: #bc986a;
}
#farm
{
    -fx-text-fill:#FFD700;
}
.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 40px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}